
#workers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}

#worker, #worker-reverse {
    width: 100px;
    height: 100px;
}

#worker-reverse {
    transform: scaleX(-1);
}

#content {
    display: block;
    flex-direction: column;
    width: 100%
}
